.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  &__card {
    background-color: $secondary-color;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    height: auto;
    width: 20rem;
    // pointer-events: none;
  }
  &__content {
    padding-top: 2rem;
  }
  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
  }
  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      padding-right: 1rem;
    }
  }
}

.movie__img {
  pointer-events: none;
}
