nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: black;
  padding: 3rem;
}
.movie__heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.logo {
  background-color: $secondary-color;
  padding: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 0.5rem;
  svg {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
.search__form {
  display: block;
  margin: auto 0;
  position: relative;
  .search__input {
    width: 0;
    opacity: 0;
    transition: 0.3s all ease;
  }
}
.search__input--open {
  width: 15rem;
  opacity: 1;
}
